.container_coordenador_geral {
    width: 90%;
    margin: auto;
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
  .titulo {
    text-align: center;
    font-size: 24px;
    color: #333;
  }
  
  .subtitulo {
    font-size: 20px;
    margin-bottom: 15px;
    color: #444;
  }
  
  .loading {
    text-align: center;
    font-size: 18px;
    color: #666;
  }
  
  .mensagem {
    text-align: center;
    font-size: 16px;
    color: #888;
  }
  
  .error {
    text-align: center;
    color: red;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  /* Gerenciamento de Coordenadores */
  .container_manager_coordenadores,
  .container_manager_cursos {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
  }
  
  .tabela_coordenadores,
  .tabela_cursos {
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .subtabela_cursos {
    padding: 15px;
    background-color: #f9f9f9;
    border-radius: 8px;
    margin-top: 10px;
  }
  
  .subtabela_cursos h4 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  /* Formulário */
  form {
    margin-top: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
  }
  
  .form-group input,
  .form-group select {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 16px;
  }
  
  /* Botões */
  .btn-delete {
    background-color: #dc3545;
    color: #fff;
    padding: 8px 14px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin-right: 8px;
  }
  
  .btn-delete:hover {
    background-color: #c82333;
  }
  
  .btn-save {
    background-color: #28a745;
    color: white;
    padding: 16px 12px;
    width: 130px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
}

.container_buttons {
    display: flex;
    justify-content: center;
}
  .btn-save:hover {
    background-color: #218838;
  }
  /* Tabela interna */
  .tabela_cursos .rdt_TableRow,
  .tabela_coordenadores .rdt_TableRow {
    background-color: #fff;
  }
  
  .tabela_cursos .rdt_TableHeadRow,
  .tabela_coordenadores .rdt_TableHeadRow {
    background-color: #f1f1f1;
    font-weight: bold;
  }
  