.container_table {
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
  .header_table {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }

  .title_table {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    flex-grow: 1;
  }
  
  .filters-container-horizontal {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
  }

  .search-input {
    padding: 10px;
    width: 100%;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .reset-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .reset-button:hover {
    background-color: #0056b3;
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .table th, .table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
  }
  
  .table th {
    background-color: #f4f4f4;
    font-weight: bold;
  }
  
  .table tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .table tr:hover {
    background-color: #f1f1f1;
  }

  .egresso-name {
    cursor: pointer;
    font-size: 12px;
  }

  .egresso-name:hover {
    color: rgb(0, 0, 255);
  }
