.container_home{
    margin: 0 auto;
    
}

.title{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 25px 150px;
}

.slide-item{
    width: 100%;
    height: 350px;
    object-fit: cover;
}

.swiper-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 25px 150px;
}

.options-home{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 150px;
    background-color: var(--white);
    border-radius: 10px ;

    ul{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 400px;
        padding: 0;
        margin: 0;
        list-style: none;
    }

    li{
        margin-right: 0px;
        margin-top: 0px;
        cursor: pointer;
        
        
        span {
            font-weight: 700;
            font-size: 22px;
            color: rgb(94, 144, 236);
           
        }

        p{
            font-weight: 400;
            font-size: 18px;
            color: rgb(165, 164, 164);
        }

    }

    img{
        width: 80px;
        height: 80px;
        justify-content: center;
        object-fit: contain;
        transition: filter 0.1s ease; /* Transição suave */
        
    }

    img:hover{
        filter: brightness(0) saturate(100%) invert(40%) sepia(88%) saturate(656%) hue-rotate(165deg) brightness(93%) contrast(90%);
 
    }
    
}

